 

<div class="container">
	<div class="jumbotron">
		<h1>Nothing here yet, but the title is: {{title}} - here is the message: {{message}}</h1>
	</div>
	<h1>{{title}}</h1>
	<p>Welcome to {{title}}</p>
</div>

<script>
 
  $('ul.nav > li').removeClass('active');
  $('a[href="/users/usr"]').parent('li').addClass('active');
 
</script>